<!DOCTYPE html>
<html>
  <head>
    <title>Grocery Name</title>
    <link rel="stylesheet" href="/home.css">
  </head>

  <body>
    <form action="/grocery-list" method="post">
      <label for="add_item"> " "</label>
      <input type="text" id="add_item" name="add_item">

      <input type="submit" value="Add">
    </form>
  </body>
</html>
